@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

$themecolor: rgba(0,0,0,1);

body {
    h1 {
    }
    h2 {
    }
    h3 {
    }
    h4 {
    }
    h5 {
    }
    h6 {
    }
    p, address, li, label, td {
    }
    small, .metadata {
    }
    label {
    }
    li {
    }
    ul, ol {
    }
    table {
    }
    thead {
        td {
        }
    }
    td {
    }
    a {
        @include transition(color .25s);
        &:hover {
        }
    }
    i, em {
        font-style: italic;
    }
    strong, b {
        font-weight: bold;
    }
    hr {
    }
    form .field {
    }
    input[type=text], input[type=tel], input[type=email], input[type=url], input[type=password], input.hasDatepicker, textarea {
        &:focus {
        }
    }
    select {
        &:focus {
        }
    }
    .radioPair {
        @extend p;
        input[type=radio] {
            position: relative;
            &:after {
            }
            &:checked {
                &:after {
                }
            }
        }
    }
    .checkboxPair {
        @extend p;
        input[type=checkbox] {
            position: relative;
            &:after {
            }
            &:checked {
                &:after {
                }
            }
        }
    }
    input[type=submit], input[type=button] {
        &:focus {
            outline: none;
        }
    }
    .ccm-required, .required {
        color: rgba(237,28,36,1);
    }
    .themecolor {
        color: $themecolor;
    }
}
